body{
    background-image: url('../imgs/fundo1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
}

.container-fluid{
    padding: 0;
}

.row{
    margin-left: auto;
    margin-right: auto;
}

.main{
    color: white;
}

.topo{
    width: 100%;
    height: 120px;
    color: white;
}

nav{
    background-color: black;
    border-bottom: solid 2px #D7722C;
}

.topo div{
    float: left;
}

.topo-titulo{
    line-height: 120px;
    font-size: 25px;
    margin-top: 9px;
    text-align: right;
    margin-right: 15px;
}

.topo-titulo div{
    border-top: solid 5px white;
    height: 72px;
    line-height: 19px;
    font-size: 15px;
    text-align: right;
}

.topo-titulo h1{
    font-size: 30px;
    margin-bottom: 5.5px;
}

label{
    margin-bottom: 0;
    margin-top: 10px;
}

.container{
    color: white;
}

.contato_box {
    margin-top: 40px;
    margin-bottom: 20px;
    border: rgba(255, 255, 255, 0.4) 1px solid;
    background-color: rgba(0, 0, 0, 0.8);
}

.contato_box .title {
    position: relative;
    top : -0.5em;
    margin-left: 1em;
    display: inline;
    color: white;
    background-color: #04883D;
    padding: 10px;
}

.contato_box .content {
    padding: 20px;
}

.alert{
    padding: 12px;
}

.list-group {
    font-size: 14px;
}

.btn{
    cursor: pointer;
}

.botao-enviar{
    background-color: #04883D;
    border-color: #04883D;
    margin-right: 10px;
}

.botao-cancelar{
    background-color: #c9302c;
    border-color: #c12e2a;
}

.botao-cancelar:hover{
    background-color: #d9534f;
    border-color: #d9534f;
}

.footer{
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    border-top: solid 2px #D7722C;
    color: white;
    font-size: 13px;
}

.footer .container{
    line-height: 50px;
    text-align: center;
    display: block;
}

.footer a{
    color: #04883D;
}

.footer a:hover {
    color: #D7722C;
}

@media only screen and (max-width: 533px) {
    .footer {
        height: 70px;
    }

    .footer .container {
        line-height: 19.5px;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 490px) {
    .topo-titulo h1 {
        font-size: 22px;
    }
    .topo div {
        text-align: right;
    }
    .topo-titulo {
        margin-top: 18px;
    }
}

@media only screen and (max-width: 385px) {
    .topo-titulo h1 {
        font-size: 17px;
    }
    .topo-titulo {
        margin-top: 24px;
        margin-right: 10px;
    }
}