@font-face {
    font-family: "Kitchen Police";
    src: url("../fonts/kitchenpolice.ttf");
}

.cabecalho{
    margin-top: 15px;
    width: 100%;
    height: 90px;
}

.cabecalho-titulo img{
    margin-left: 10px;
}

.cabecalho-titulo h3{
    display: inline-block;
    float: right;
    margin-right: 10px;
}

.cabecalho-titulo{
    width: 100%;
    float: left;
    height: 100%;
}

.cabecalho-titulo h1{
    font-family: "Kitchen Police";
    display: inline-block;
    font-size: 38px;
    margin-left: 5px;
}

.cabecalho-titulo h3 {
    margin-bottom: 15px;
}
.titulo-titulo{
    float: left;
    width: 80%;
}
.img-titulo{
    float: left;
}

@media only screen and (max-width: 465px) {
    .cabecalho {
        height: 160px;
    }

    .cabecalho-titulo h3 {
        margin-bottom: 15px;
    }

    .cabecalho-titulo{
        text-align: center;
    }

    .cabecalho h1 {
        text-align: center;
    }

    .titulo-titulo {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .img-titulo {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 341px) {
    .cabecalho {
        height: 250px;
    }
}