
html, body{
    height: 100%;
}

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
    margin: 0; padding: 0; border: 0;
}

.container{
    width: 220px;
    height: 110px;
    border: #555555 solid 10px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.interior{
    text-align: center;
    line-height: 110px;
}